
:root{
    /* colors */
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --logo-text-color: #000000;
    --contrast-text-color: #ffffff;
    --main-background: #ffffff;
    --contrast-background: #2F303A;
    --hover-btn: #188CE8;
    --boot-send-color: rgba(255, 255, 255, 0.6);
    --border-white-cl: #eeeeee;
    --section-background: #F5F4FA;
    --clients-icon-cl: #AFB1B8;
    /* fonts */
    --main-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;
    /* size */
    --gap-list: 30px;
    --column-list: 4;
}

body {
    color: var(--primary-text-color);

    font-family: var(--main-font);
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
}

/* reset styles */

ul {
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

.lnk {
    text-decoration:none;
    color: currentColor;
}

.lst {
    list-style-type:none;
}

/* main */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.section-title {
    margin-bottom: 50px;
    color: var(--title-text-color);

    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
}

.active-link:hover,
.active-link:focus,
.nav-link.active-nav {
    color: var(--accent-color);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid red; */

}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.img {
    display: block;
    width: 100%;
}

.card-set {
    display: flex;
    gap: var(--gap-list);
    flex-wrap: wrap;
}

.card-item {
    flex-basis: calc((100% - var(--gap-list) * (var(--column-list) - 1)) / var(--column-list));
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

/* header */

.header { 
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    border-bottom: 1px solid #ECECEC;
}

.header-container,
.footer-container {
    display: flex;
    align-items: center;
}

.container.header-container {
    border-bottom: 1px solid var(--contrast-text-color);
}

/* logo site */


.logo {
    color: var(--accent-color);
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;

}

.header .logo {
    margin-right: 93px;
}

.logo-dark{
    color: var(--logo-text-color);
}

.logo-white{
    color: var(--contrast-text-color);
}

/* Nav site */

.site-nav,
.login-nav {
    display: flex;
    gap: 50px;
}

.login-nav {
    margin-left: auto;
}

.nav-link {
    color: var(--title-text-color); 
    display: block;
    padding-top: 32px;
    padding-bottom: 31px;

}

.login-link {
    padding-top: 32px;
    padding-bottom: 31px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-icon {

    fill: currentColor;

}

.login-icon:hover,
.login-icon:focus {
    fill: var(--accent-color);
}

/* Hero */

.hero{
    background-color: var(--contrast-background);
    background-image: linear-gradient(90deg, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
    url("../image/fon.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;

}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hero-title {
    max-width: 650px;
    margin-bottom: 30px;

    color: var(--contrast-text-color);

    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-btn {
    margin: 0 auto;
    min-width: 200px;
    min-height: 50px;
    border: none;
    border-radius: 4px;
    color: var(--contrast-text-color);
    font-family: inherit;
    background-color: var(--accent-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--hover-btn);
}

/* Advantage */

.advantage-title {
    margin-bottom: 10px;
    color: var(--title-text-color);

    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
}

.advantage-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--section-background);
    border-radius: 4px;
    padding: 25px;
    margin-bottom: 30px;

}

/* Our work */

.work.section {
padding-top: 0;
}

.work-list {
    --column-list: 3;
}

/* Team */

.team {
    background-color: var(--section-background);
}

.card-team {
    border-left: 1px solid rgb(117, 117, 117, 0.4);
    border-right: 1px solid rgb(117, 117, 117, 0.4);
    border-bottom: 1px solid rgb(117, 117, 117, 0.4);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

}

.team-post,
.team-name {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;  
}

.team-name {
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 500;
    
}

.team-post {
    margin-bottom: 16px;
}

.team-blok {
    padding-top: 30px;
    padding-bottom: 30px;

}


.socials-link {  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    color:var(--clients-icon-cl);

}

.socials-link:hover,
.socials-link:focus {
    background-color: var(--accent-color);
    color: var(--contrast-text-color);
    
}

.socials-icon {
    display: block;
    width: 20px;
    height: 20px;
    object-position: 50% 50%;
    fill: currentColor;
}

.socials-icon:hover,
.socials-icon:focus {
    fill: var(--contrast-text-color);
}

/* Clients */

.clients .card-item {
    --column-list: 6;

}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clients-icon-cl);
    padding: 16px;
    border: 1px solid currentColor;
    border-radius: 4px;
    max-height: 92px;

}

.clients-link:hover,
.clients-link:focus {
    color: var(--accent-color);
}


.clients-icon {
    fill: currentColor;
    width: 106px;
    height: 60px;
}

/* footer */

.footer {
    background-color: var(--contrast-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .container {
    display: flex;
    gap: 70px;
    align-items: baseline;

}


.footer-contact {
    font-style: inherit;
    color: var(--boot-send-color);
}

.footer-address{
    color: var(--contrast-text-color);
}

.footer .logo {
    display: block;
    margin-bottom: 20px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.socials-title {    
    font-weight: 700;
    text-transform: uppercase;
    color: var(--contrast-text-color);
    margin-bottom: 20px;

}

.footer .socials-link {
   
    color: var(--contrast-text-color);
    background-color: rgba(255, 255, 255, 0.1);

}

.socials-link:hover,
.socials-link:focus {
    background-color: var(--accent-color);

}

/*  */
/*  */
/* Portfolio */
/*  */
/*  */

.portfolio-btn {
    padding: 6px 22px;
    border: none;
    border-radius: 4px;

    color: var(--title-text-color);
    font-family: inherit;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.portfolio-btn-active,
.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--contrast-text-color);
    background-color: var(--accent-color);
}

.portfolio-title {
    margin-bottom: 4px;
    color: var(--title-text-color);

    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
}

.portfolio-txt {
    font-size: 16px;
    line-height: calc(30 / 16);
}

.portfolio .button-list {
    --gap-list: 8px;
    margin-bottom: 50px;
    justify-content: center;

}

.portfolio-name {
    padding: 20px 24px;
    border: 1px solid var(--border-white-cl);
    border-top: none;

}

.portfolio-list {
    --column-list: 3;

}

.portfolio-lnk {
    display: block;

}

.portfolio-lnk:hover,
.portfolio-lnk:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}



