.advantage {

    & .card-item {
        // @media screen and (max-width: 768px) {    
        //     --column-list: 1;
        // }

        @media screen and (min-width: 768px) and (max-width: 1200px) {    
            --column-list: 2;
        }

        @media screen and (min-width: 1200px) {    
            --column-list: 4;
        }
    }
    &__card {
       
    }

    &__wrap {

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--section-background);
        border-radius: 4px;
        padding: 25px;
        margin-bottom: 30px;
    }

    &__title {
        margin-bottom: 10px;
        @media screen and (max-width: 768px) {
            text-align: center;
            
        }
    }

}


