.advantage-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--section-background);
    border-radius: 4px;
    padding: 25px;
    margin-bottom: 30px;
}

.advantage-wrap__title {
    margin-bottom: 10px;
}
