.clients {

    & .card-item {
        @media screen and (max-width: 768px) {    
            --column-list: 2;
        }

        @media screen and (min-width: 768px) and (max-width: 1200px) {    
            --column-list: 3;
        }
    }

    &__list {
        --column-list: 6;
    }
    
    &__icon {
        fill: currentColor;
        width: 106px;
        height: 60px;
    }
    
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--clients-icon-cl);
        padding: 16px;
        border: 1px solid currentColor;
        border-radius: 4px;
        max-height: 92px;
        transition: color var(--animat);
    
    }
    
    
    &__link:hover,
    &__link:focus {
        color: var(--accent-color);
    }


}






