.footer {
    background-color: var(--contrast-background);
    padding-top: 60px;
    padding-bottom: 60px;

    &__container {
        display: flex;

        @media screen and (max-width:767px) {
            flex-direction: column;
            gap: 60px;
        }   

       
        // justify-content: center;
    
        @media screen and (min-width:767px) {
            align-items: baseline;
        }   
        
        @media screen and (min-width: 768px) and (max-width: 1200px) {
            flex-wrap: wrap;
            justify-content: space-around;
        }
        
        gap: 70px;
    }


    &__wrap-contact, &__social, &__form {
        @media screen and (max-width:1199px) {
            text-align: center;
        }   
        }

        
        
    
    &__contact {
        font-style: inherit;
        color: var(--boot-send-color);
    }
    
    &__address{
        color: var(--contrast-text-color);
    }
    
    &__logo {
        display: block;
        margin-bottom: 20px;
    }
    
    &__list {
        display: flex;
        flex-direction: column;
        gap: 9px;
    }
    
    
    &__title {    
        display: block;
        margin-bottom: 20px;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--contrast-text-color);
    }
    
    &__form {
        @media screen and (min-width:1200px) {
            margin-left: auto;

        }
    }

}


