.hero {
    background-color: var(--contrast-background);
    background-image: linear-gradient(90deg, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
    url("../image/fon.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    &__title {
        max-width: 650px;
        margin-bottom: 30px;
    
        color: var(--contrast-text-color);
    
        font-weight: 900;
        font-size: 44px;
        line-height: calc(60 / 44);
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }

}


