.hero {
    min-height: 400px;
    background-image: linear-gradient(90deg, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
    url("../image/hero/Hero-img-480-1x.jpg");
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(90deg, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
    url("../image/hero/Hero-img-480-2x.jpg");
    }

    @media screen and (min-width:768px) {
        background-image: linear-gradient(90deg, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
    url("../image/hero/Hero-img-768-1x.jpg");
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(90deg, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
    url("../image/hero/Hero-img-768-2x.jpg");
    }
        
    }

    @media screen and (min-width:1200px) {
        min-height: 600px;
        background-image: linear-gradient(90deg, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
    url("../image/hero/Hero-img-1200-1x.jpg");
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(90deg, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
    url("../image/hero/Hero-img-1200-2x.jpg");
    }
        
    }
}





.hero {

    // background-image: linear-gradient(90deg, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
    // url("../image/fon.jpg");
    background-color: var(--contrast-background);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    max-width: 1600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 390px;
        min-height: 400px;

        @media screen and (min-width:1200px) {
            min-height: 600px;
            max-width: 652px;
        }
    
    }
    
    &__title {
        // max-width: 650px;
        margin-bottom: 30px;
    
        color: var(--contrast-text-color);
    
        font-weight: 900;
        font-size: 26px;
        line-height: calc(42 / 26);
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        @media screen and (min-width: 1200px) {
            font-size: 44px;
            line-height: calc(60 / 44);
            
        }
    }

}


