:root{
    /* colors */
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --logo-text-color: #000000;
    --contrast-text-color: #ffffff;
    --main-background: #ffffff;
    --contrast-background: #2F303A;
    --hover-btn: #188CE8;
    /* --hover-btn: red; */
    --boot-send-color: rgba(255, 255, 255, 0.6);
    --border-white-cl: #eeeeee;
    --section-background: #F5F4FA;
    --clients-icon-cl: #AFB1B8;
    /* fonts */
    --main-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;
    /* size */
    --gap-list: 30px;
    --column-list: 1;
    /*  */
    --animat: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}