.card-title {

    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;

    &--gray {
        color: var(--title-text-color);
    }
    
    &--white {
        color: var(--contrast-text-color);
    }

}


