.card-title {

    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;

}
.card-title--gray {
    color: var(--title-text-color);
}

.card-title--white {
    color: var(--contrast-text-color);
}