.logo {
    color: var(--accent-color);
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
}

.logo__text--dark{
    color: var(--logo-text-color);
}

.logo__text--white{
    color: var(--contrast-text-color);
}