.header-menu {
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
    opacity: 1;
    visibility: hidden;
    pointer-events: none; 
    display: flex;
    flex-direction: column;
    gap: 64px;
    height: 100%;
    width: 100%;
    background-color: var(--main-background);
    padding: 48px 40px;

    &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
    
    }

    &__wrap-nav {
        margin-bottom: auto;
    }

    &__site-nav{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__nav-link {
        font-weight: 500;
        font-size: 40px;
        line-height: calc(47 / 40);
        color: var(--title-text-color);
     }

    &__nav-link--operating {
        color: var(--accent-color);
     }

    &__connection-list {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    
    &__connection-tel {
        color: var(--accent-color);
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
    }

     

    &__connection-mail {
        color: var(--primary-text-color);
        font-weight: 500;
        font-size: 24px;
        line-height: calc(28 / 24);
        letter-spacing: 0.02em;
        
    }

    &__socials {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    
    }

    

    &__socials-link {
        display: flex;

        color: var(--accent-color);
        font-weight: 500;
        font-size: 18px;
        line-height: calc(22 / 18);
    }


    &__socials-list {
       
    }


    &__socials-list:not(:last-child) &__socials-link::after {
        
       margin-left: 10px;
        // outline: 1px solid red;
        
        content: '';
        display: block;
        width: 1px;
        height: 22px;
        background-color: rgba(33, 33, 33, 0.2);;
    }


    &__btn-close, &__btn-open {
        position: absolute;
        top: 10px;
        right: 15px;
        border: none;
        padding: 0;
        outline: 2px solid red;
        background-color: inherit;

        &:hover .header-menu__btn-icon {
            fill: var(--accent-color);
        }

        &__btn-close {
            
            
    
            &:hover .header-menu__btn-icon {
                fill: var(--accent-color);
            }
        }

    }

    &__btn-open {


    }

    &__btn-icon {
        display: block;

    }
    
    

}







