.bg-modal{
    position: fixed;

    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;

    background-color: rgba(0, 0, 0, 0.2);
    visibility: visible;
    opacity: 1;
    transition: opacity var(--animat), 
    visibility var(--animat);
    
    &.is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;        
    }
    &.is-hidden .modal {
        transform: translate(-50%, -50%) perspective(800px) 
        rotateY(90deg);
        
    }

}




.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    
    overflow: auto;
    /* min-height: 581px; */
    padding: 40px;
    background-color: var(--main-background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--animat);
    transform-origin: bottom center;

    @media screen and (max-width: 767px) {
        width: 100%;
        max-width: 450px;
        
    }


    @media screen and (max-height: 581px) {
        height: 100%;
        
    }

    
    
}



.modal-strong {
    display: block;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    color: var(--title-text-color);

}

.register-form {
    margin-bottom: 20px;


}

.label-form {
    
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
    

}

.input-register-wrap {
    position: relative;
}

.label-form:last-child {
   margin-bottom: 0;

}

.input-register-form {
    padding: 12px 12px 12px 42px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    height: 40px;
    transition: border-color var(--animat);
 

}

.input-register-form:hover,
.input-register-form:focus,
.textarea-register-form:hover,
.textarea-register-form:focus {
    border-color: var(--accent-color);

}

.input-register-form:hover + .icon-register-form,
.input-register-form:focus + .icon-register-form {
    fill: var(--accent-color);
}




.textarea-register-form {
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color var(--animat);

}

.textarea-register-form::placeholder {
    color: rgba(117, 117, 117, 0.5);
}



.icon-register-form {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translate(0, -50%);
    transition: fill var(--animat);
}

.form-txt {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

}

.politics-form {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;

    cursor: pointer;
}

.icon-check-form {
    margin-right: 8px;
    transition: opacity var(--animat), fill var(--animat);
    flex-shrink: 0;

}

.politics-form-check {
    opacity: 0;
    background:var(--accent-color);
    transition: opacity var(--animat);
}

.politics-form-uncheck {

    opacity: 1;
    transition: opacity var(--animat);
    

}

.input-politics-form:hover + .icon-check-form,
.input-politics-form:focus + .icon-check-form {
    fill:var(--accent-color)
}

.input-politics-form:checked ~ .icon-check-form .politics-form-check {
    opacity: 1;
    transition: opacity var(--animat);
}

.input-politics-form:checked ~ .icon-check-form .politics-form-uncheck {
    opacity: 0;
    transition: opacity var(--animat);
    
}

.politics-form-txt {
    user-select: none;


    @media screen and (max-width: 767px) {
        font-size: 12px;
        line-height: calc(14 / 12);
        letter-spacing: 0.03em;
        
    }

}

.politics-link {
    color: var(--accent-color);
    text-underline-position: under;

}


.modal-form .hero-btn  {
   
}

.modal-btn-cls {
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: fill var(--animat);

}

.modal-btn-cls:hover,
.modal-btn-cls:focus {
    fill: var(--accent-color);
}