.send-email {
    display: flex;
    align-items: center;
    gap: 12px;

    &__label{
        position: relative;
    }
    
    &__txt {
        position: absolute;
        left: 16px;
        transform: translate(0, 50%);
        transition: color var(--animat); 
    }
    
    &__icon {
        fill: currentColor;
        margin-left: 10px;
    }

}



.send-email__input {
    
    width: 358px;
    padding: 15px 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: var(--contrast-text-color);
    outline: none;
    transition: opacity var(--animat), border-color var(--animat),;


    &:focus,
    &:hover {
        border-color: var(--accent-color);
    }

    &::placeholder {
        opacity: 0;
    }

    &:not(:placeholder-shown) + .send-email__txt {
        opacity: 0;
    }   

    &:focus::placeholder {
        opacity: 1;
    }


    &:focus + .send-email__txt {
        opacity: 0;
    }

    &:hover + .send-email__txt{
        color: var(--accent-color);
    }

}


