.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.socials__link {  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    color:var(--clients-icon-cl);
    transition: color var(--animat), 
    background-color var(--animat);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--contrast-text-color);    
}
}

.socials__link--accent {   
    color: var(--contrast-text-color);
    background-color: rgba(255, 255, 255, 0.1);
    
    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}




.socials__icon {
    display: block;
    width: 20px;
    height: 20px;
    object-position: 50% 50%;
    fill: currentColor;

    &:hover,
    &:focus {
    fill: var(--contrast-text-color);
}
}






